.profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
}

@media screen and (max-width: 705px) {
    .profile__info {
        width: 100%;
        justify-content: center;
    }
}