.element__delete-button {
    background: transparent url(../../../images/delete-button.svg) no-repeat center;
    width: 18px;
    height: 19px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.element__delete-button:hover {
    opacity: 0.6;
}
