.popup__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    color: #000;
    margin-top: 0;
    margin-bottom: 54px;
}

@media screen and (max-width: 545px) {
    .popup__title {
        font-size: 18px;
        margin-bottom: 75px;
    }
}