.element__like-button {
    background: transparent url(../../../images/like-button.svg) no-repeat center;
    width: 22px;
    height: 19px;
    border: none;
    transition: 0.3s linear;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: 0.5;
}